<a id="home"></a>
<header>
  <%= render "partials/navbar/en" %>
</header>

<div class="row home-container">
  <%= render "partials/home/en" %>
</div>

<%= render "partials/services/en" %>

<%= render "partials/tools/en" %>