<h3>Message submission confirmation from <a href="www.itech.io" taget="_blank">www.itech.io</a></h3>

<p>Dear <%= @message.name %>,</p><br>

<p>Thank you for your message.</p>
<p>One of our team members will get in touch with you shortly.</p><br>

<p>Your <a href="www.itech.io" taget="_blank">www.itech.io</a> team</p>