<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><img src="assets/logo2.png" /></a>
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed">
        <span class="icon-reorder"></span>
      </a>						
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
					<li><a href="#home" data-target=".nav-collapse" class="anchorLink">Home</a></li>
					<li><a href="#services" class="anchorLink">Services</a></li>
					<li><a href="#tools" class="anchorLink">Tools</a></li>
					<li><a href="#work" class="anchorLink">Work</a></li>
					<li><a href="#contact" class="anchorLink">Contact</a></li>
				</ul>
			</div>  
    </div>
    
	</div>		
</div>