<a id="services"></a>
<div class="services-container">  
  <div class="container">
  
    <div class="page-header">
      <h1>Services</h1>
    </div>
    
    <div class="row">
      <div class="clearfix services-row">
        <div class="span4">
          <i class="icon-group"></i>
          <h3>Sophisticated Team</h3>
          <strong>A small team making big waves:</strong>
          <div class="ordered-list">
            <ol>
              <li>
                We are young, passionate and always
                looking for new technologies to stay
                on top.
              </li>
              <li>
                We always deliver the cutting edge goods by
                choosing the right tools for the job.
              </li>
              <li>
                We are one step ahead of enabling your
                software to work on desktop, tablet and
                mobile device.
              </li>
            </ol>
          </div>
            
        </div>

        <div class="span4">
          <i class="icon-cogs"></i>
          <h3>Agile Development</h3>
          <strong>We choose:</strong>
          <div class="ordered-list">
            <ol>
              <li>Individuals and interactions over processes and tools</li>
              <li>Working software over comprehensive documentation</li>
              <li>Customer collaboration over contract negotiation</li>
              <li>Responding to change over following a plan</li>
            </ol>  
          </div>
        </div>

        <div class="span4">
          <i class="icon-cloud"></i>
          <h3>Cloud computing</h3>
          <strong>Your software will be up and run ASAP:</strong>
          <div class="ordered-list">
            <ol>
              <li>It is virtual</li>
              <li>It is flexible and scalable</li>
              <li>It is affordable</li>
            </ol>  
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>