<a id="services"></a>
<div class="services-container">  
  <div class="container">
  
    <div class="page-header">
      <h1>Services</h1>
    </div>
    
    <div class="row">
      <div class="clearfix services-row">
        <div class="span4">
          <i class="icon-group"></i>
          <h3>Sophisticated Team</h3>
          <p>
            Young, passionate and hungry for more!
            We are the small team making big waves and
            always looking for new technologies to stay on top.
          </p>
        </div>

        <div class="span4">
          <i class="icon-cogs"></i>
          <h3>Agile Development</h3>
          <p>
            We choose:
          </p>
          <div class="agile-choice">
            <ol>
              <li>Individuals and interactions over processes and tools</li>
              <li>Working software over comprehensive documentation</li>
              <li>Customer collaboration over contract negotiation</li>
              <li>Responding to change over following a plan</li>
            </ol>  
          </div>
        </div>

        <div class="span4">
          <i class="icon-cloud"></i>
          <h3>Cloud computing</h3>
          <p>
            Meaning we will get your software up and running in no time!
            This also means you can start small and pay less and only pay
            more as you grow! 
          </p>
        </div>
      </div>

      <div class="clearfix services-row">
        <div class="span4">
          <i class="icon-magic"></i>
          <h3>Creative Solutions</h3>
          <p>
            We always deliver the cutting edge goods by being
            able to choose the right tools for the job! 
          </p>
        </div>
      
        <div class="span4">
          <i class="icon-mobile-phone"></i>
          <h3>Innovative</h3>
          <p>
            These days it's very important to stay ahead of 
            the game be it desktop, tablet or mobile device.
            We keep that in mind when building your software.
          </p>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="container learn-more">
  <a href="#team">
    <span class="text-center">
      <h4>LEARN MORE</h4>
      <i class="icon-angle-down"></i>
    </span>
  </a>
</div>