<a id="work"></a>

<div class="work-container">  
	<div class="container">
  
		<div class="page-header">
      <h1>Our Work</h1>
    </div>
    
    <div class="row">
			<blockquote>
				<p>Showreel</p>
			</blockquote>
			<div class="span12">
				<iframe width="320" height="300" src="http://www.youtube.com/embed/vQc5nXKH5p0" frameborder="0" allowfullscreen></iframe> 
			</div>
		</div>		

		<div class="row">
			<blockquote>
				<p>Latest creations</p>
			</blockquote>

			<div class="span4">
				<a class="ssc backdrop"><i class="icon-info-sign"></i></a>	
				<img src="assets/work/ssc.png"></img>
			</div>

			<div class="span4">
				<a class="top-news backdrop"><i class="icon-info-sign"></i></a>
				<img src="assets/work/top_news.png"></img>
			</div>

			<div class="span4">
				<a class="talk-to-me backdrop"><i class="icon-info-sign"></i></a>
				<img src="assets/work/talk_to_me.png"></img>
			</div>

			<div class="span4">
				<a class="avisma backdrop"><i class="icon-info-sign"></i></a>
				<img src="assets/work/avisma.png"></img>
			</div>

			<div class="span4">
				<a class="bizlogic backdrop"><i class="icon-info-sign"></i></a>
				<img src="assets/work/bizlogic.png"></img>
			</div>

			<div class="span4">
				<a class="romasta backdrop"><i class="icon-info-sign"></i></a>
				<img src="assets/work/romasta.png"></img>
			</div>

			<div class="span4">
				<a class="beta backdrop"><i class="icon-info-sign"></i></a>
				<img src="assets/work/beta.png"></img>
			</div>
			
    </div>
	</div>
</div>
