.home-container {
  clear: left;
  margin-top: @homeContainerMarginTop;
  text-align: center;
  h1 {
    font-weight: @homeContainerH1FontWeight;
    color: @white;
    font-size: @homeContainerH1FontSize;
    line-height: @homeContainerH1LineHeight;
    margin-bottom: @homeContainerH1MarginBottom;
  }
  h3 {
    font-weight: @homeContainerH3FontWeight;
    font-size: @homeContainerH3FontSize;
    line-height: @homeContainerH3LineHeight;
    color: @white;
  }
  form {
    margin-top: @homeContainerFormMarginTop;
  }
  label {
    color: @white;
    font-weight: @homeContainerLabelFontWeight;
    font-size: @homeContainerLabelFontSize;
  }
  input {
    padding: @homeContainerInputPadding;
    display: inline-block;
    .border-radius(5px 0 0 5px);
  }
  button {
    border: 0;
    vertical-align: top;
    .border-radius(0 5px 5px 0);
    margin-left: -5px;
    & .icon-spin {
      font-size: 19px;
    }
  }
  /*.learn-more {
      margin: 80px auto 0 auto;
      color: @white;
      a {
        color: @white;
        &:hover {
          text-decoration: none;
        }
      }
      h4 {
        margin: 0;
        padding: 0;
      }
      i {
        font-size: 45px;
        font-weight: 800;
      }
    }*/
}