<a id="tools"></a>
<div class="tools-container">  
  <div class="container">
  
    <div class="page-header">
      <h1>Tools we use</h1>
    </div>
    
    <div class="row image-container">
      <a href="http://pivotal.github.com/jasmine/" target="_blank">
        <img title="Jasmine javascript testing framework" src="assets/tools/jasmine.png">
      </a>
      <a href="http://coffeescript.org/" target="_blank">
        <img title="Coffeescript - little language that compiles into javascript" src="assets/tools/coffee.png">
      </a>
      <a href="http://backbonejs.org/" target="_blank">
        <img title="Backbone - lightweight javascript framework" src="assets/tools/backbone.png">
      </a>
      <a href="http://underscorejs.org/" target="_blank">
        <img title="Underscore is a utility-belt library for JavaScript" src="assets/tools/underscore.png">
      </a>
      <a href="http://jquery.com/" target="_blank">
        <img title="jQuery is a fast, small, and feature-rich JavaScript library" src="assets/tools/jquery.png">
      </a>
      <a href="http://jenkins-ci.org/" target="_blank">
        <img title="Jenkins is an extendable open source continuous integration server" src="assets/tools/jenkins.png">
      </a>
      <a href="http://www.ecmascript.org/" target="_blank">
        <img title="Javascript is the language of the web" src="assets/tools/javascript.jpg">
      </a>
      <a href="http://requirejs.org/" target="_blank">
        <img title="Require.js is a javascript module loader" src="assets/tools/require.png">
      </a>
      <a href="http://rubyonrails.org/" target="_blank">
        <img title="Ruby on Rails is an open-source web framework that's optimized for programmer happiness and sustainable productivity." src="assets/tools/rails.png">
      </a>
      <a href="http://marionettejs.com/" target="_blank">
        <img title="Backbone.Marionette is a composite application library for Backbone.js" src="assets/tools/marionette.png">
      </a>
      <a href="http://emberjs.com/" target="_blank">
        <img title="Ember is a framework for creating ambitious web applications" src="assets/tools/ember.jpg">
      </a>
      <a href="http://gruntjs.com/" target="_blank">
        <img title="Jvascript task runner." src="assets/tools/grunt-logo.png">
      </a>
      <a href="http://nodejs.org/" target="_blank">
        <img width="150px" title="Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications." src="assets/tools/nodejs.png">
      </a>
      <a href="http://www.java.com/en/" target="_blank">
        <img title="JAVA" src="assets/tools/java.jpg">
      </a>
      <a href="http://php.net/" target="_blank">
        <img title="PHP is a widely-used general-purpose scripting language that is especially suited for Web development and can be embedded into HTML"  src="assets/tools/php.png">
      </a>
      <a href="http://lesscss.org/" target="_blank">
        <img title="LESS is dynamic stylesheet language" src="assets/tools/less.png">
      </a>
      <a href="http://www.ruby-lang.org/en/" target="_blank">
        <img width="150px" title="Ruby is a dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write." src="assets/tools/ruby.gif">
      </a>
      <a href="http://expressjs.com/" target="_blank">
        <img title="Express.js is a web application framework for node.js" src="assets/tools/express.jpg">
      </a>
      <a href="http://www.mysql.com/" target="_blank">
        <img title="MYSQL is the world's most popular open source database" src="assets/tools/mysql.jpg">
      </a>
      <a href="http://www.postgresql.org/" target="_blank">
        <img title="PostgreSQL is a powerful, open source object-relational database system" src="assets/tools/postgresql.png">
      </a>
      <a href="http://www.mongodb.org/" target="_blank">
        <img title="MongoDB is an open source document database, and the leading NoSQL database written in C++" src="assets/tools/mongodb.png">
      </a>
      <a href="http://www.w3.org/html/wg/drafts/html/master/" target="_blank">
        <img title="HTML5" src="assets/tools/html5.png">
      </a>
      <a href="http://www.w3.org/Style/CSS/Overview.en.html" target="_blank">
        <img title="CSS3" src="assets/tools/css3.png">
      </a>
      <a href="http://www.heroku.com/" target="_blank">
        <img title="Heroku is a cloud application platform" src="assets/tools/heroku.png">
      </a>
      <a href="http://www.apache.org/" target="_blank">
        <img width="150px" title="Apache is number one HTTP server on the internet" src="assets/tools/apache.gif">
      </a>
      <a href="https://github.com/" target="_blank">
        <img title="Powerful collaboration, review, and code management for open source and private development projects" src="assets/tools/githuboctacat.jpg">
      </a>
    </div>
  </div>
</div>
