<div class="container">

  <div class="row">
  	<h1>Right way to success</h1>
  	<h3>
  	  We are a team of skilled developers who build fast, efficient,
  	  web based, cross-platform software using modern technologies &amp; more.
  	</h3>

    <form class="subscriber">
      <div class="control-group">
        <div class="controls">
          <label>Subscribe for our news &amp; offers</label>
          <input maxlength="40" class="span3" id="subscriber" type="text" name="email" placeholder="Enter your email...">
          <button class="btn btn-large btn-success btn-subscribe" type="submit">
            <i class="icon-spinner icon-spin icon-2x pull-left"></i>
            <i class="icon-rss"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
    
</div>