<div class="row">
	<h1>Right way to success</h1>
	<h3>
	  We are a team of skilled developers who build fast, efficient,<br>
	  web based mobile and desktop software using modern technologies &amp; more.
	</h3>
</div>