<a id="contact"></a>

<div class="contact-container">  
	<div class="container">
  
		<div class="page-header">
      <h1>Contact</h1>
    </div>

		<iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=vilnius&amp;aq=&amp;sll=51.528642,-0.101599&amp;sspn=0.557894,1.392517&amp;ie=UTF8&amp;hq=&amp;hnear=Vilnius,+Vilniaus+miesto+savivaldyb%C4%97,+Vilnius+County,+Lithuania&amp;ll=54.687155,25.279651&amp;spn=0.032398,0.087032&amp;t=m&amp;z=14&amp;&iwloc=near&output=embed"></iframe>

		<div class="row-fluid">
			<form>
				<div class="control-group span3">
					<div class="controls">
						<input class="name" type="text" name="name" maxlength="20" placeholder="name *"/>
					</div>
				</div>
				<div class="control-group span3">
					<div class="controls">
						<input class="email" type="text" name="email" maxlength="80" placeholder="email *"/>
					</div>
				</div>
				<div class="control-group span3">
					<div class="controls">
						<input class="phone" type="text" name="phone" maxlength="20" placeholder="phone"/>
					</div>
				</div>
				<div class="control-group span3">
					<div class="controls">
						<input class="company" type="text" name="company" maxlength="50" placeholder="company"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<textarea class="body" rows="4" name="body" maxlength="500" placeholder="message *"></textarea>
					</div>
				</div>				
				<button class="btn btn-danger span3 offset4 submit-btn">
					<span class="send-txt">Send</span>
					<i class="icon-spinner icon-spin icon-2x"></i>
				</button>
			</form>
		</div>
	</div>
</div>
