<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="description" content="
    We provide business consulting and software engineering.
    We complete your project on time and help you keep it within the budget.
    We build fast and efficient software using latest technologies such as
    Ruby on Rails, Node.js etc.
    ">
  <meta property="og:description" content="EU Startup Agency.
    We provide business consulting and software engineering.
    We complete your project on time and help you keep it within the budget.
    We build fast and efficient software using latest technologies such as
    Ruby on Rails, Node.js etc.
   ">
  <meta name="keywords" content="
    software development, startup, consultancy, project development, minimal viable product, online marketing
   ">
  <meta name="revisit-after" content="7 days">
  <meta name="ROBOTS" content="All">
  <title>Itech.io | startup consulting | software development | mobile and web app development</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-touch-fullscreen" content="yes">
</head>
<body>

<%= yield %>

</body>
</html>
